.divMovieNews {
  width: 350px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.update {
  position: relative;
  left: 270px;
  bottom: 5px;
  /* right: 10px; */
}

.titleH4 {
  position: relative;
  bottom: 15px;
  left: 10px;
  margin: 0px;

  font-weight: bold;
}

.movieNews {
  padding: 5px;
  margin: 2px; 
}

.time {
  font-size: 13px;
}

.movie {
  /* display: inline-block; */
  /* border: 1px solid black; */
  /* display: flex; */
}

.image {
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url("aaa.png");
  background-size: cover;
  margin-right: 10px;
}

.divNameMovie {
  display: inline-block;
  vertical-align: top;
  width: 280px;
}

.nameMovie {
  margin: 0 0 0 5px;
  font-size: 13px;
  font-weight: 500;
  /* font-weight: bold; */
  /* font-weight: bolder; */
  /* border: 1px solid black; */
}



/* 
width: 20px; 
background-image: url("images/keks.jpg");  
width: 600px; */